absl-py==0.1.10
bleach==1.5.0
cycler==0.10.0
Cython==0.27.3
enum34==1.1.6
html5lib==0.9999999
L4==1.0
Markdown==2.6.11
matplotlib==2.1.2
numpy==1.14.0
pkg-resources==0.0.0
protobuf==3.5.1
pycocotools==2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
six==1.11.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tqdm==4.19.5
Werkzeug==0.14.1
